:root {
    --gradient: linear-gradient(90deg, var(--orange40f), var(--orangec12));
    --white: #fff;
    --silver444:#444;
    --silver333:#333;
    --silver777: #777;
    --seilver999: #999;
    --orangec12: #f39c12;
    --orange40f: #f1c40f;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background-color: var(--orangec12);
    color: var(--white);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.5rem;
}

html::-webkit-scrollbar-track {
    background: var(--silver333);
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, var(--orange40f), var(--orangec12));
}

.btn {
    padding: .7rem 3rem;
    font-size: 2rem;
    color: var(--white);
    background: var(--gradient);
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    padding: 1.5rem 7%;
    background: var(--gradient);
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

header .logo {
    color: var(--white);
    font-size: 2.5rem;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 2rem;
    color: var(--white);
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: var(--silver444);
}

header #login {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
}

header #login:hover {
    color: var(--silver444);
}

header #menu {
    font-size: 3rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}

.login-form {
    height: 100%;
    width: 100%;
    position: fixed;
    top: -120%; left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form.popup {
    top: 0;
}

.login-form form {
    width: 35rem;
    background-color: var(--white);
    margin: 0 2rem;
    padding: 1rem 3rem;
    border-radius: .5rem;
    box-shadow: 0 .1rem .3rem var(--silver333);
    position: relative; 
}

.login-form form h3 {
    font-size: 3rem;
    color: var(--orangec12);
    padding: 1rem 0;   
}

.login-form .box {
    width: 100%;
    padding: 1rem 0;
    margin: 1rem 0;
    border-bottom: .2rem solid var(--silver777);
    font-size: 1.6rem; 
    color: var(--silver333);
    text-transform: none;
}

.login-form .box::placeholder {
    text-transform: capitalize;
}

.login-form .box:focus {
    border-color: var(--orangec12);
}

.login-form .box:nth-child(3) {
    margin-bottom: 5rem;
}

.login-form form p {
    font-size: 1.4rem;
    color: var(--silver777);
    padding: .5rem 0;
}

.login-form form p a {
    color: var(--orangec12);
}

.login-form form .btn {
    width: 100%;
    margin: 2rem 0;
}

.login-form form .btn:hover {
    background: var(--silver444);
}

.login-form form .fa-times {
    position: absolute;
    top: 1.5rem; right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--seilver999);
}

.login-form form .fa-times:hover {
    color: var(--silver444);
}




























/* media queries */
@media (max-width: 768px) {
    html {
        font-size: 55%;
    }

    header #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: -120%; left:0;
        width: 100%;
        background:  var(--silver444);
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1.5rem 0;
        text-align: center;
        width: 100%;
    }

    header .navbar ul li a {
        font-size: 2.5rem;
        display: block;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover {
        color: var(--orangec12);
    }   

    .fa-times {
        transform: rotate(180deg);
    }

    header .navbar.nav-toggle {
        top: 6.4rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}